extends ../base/layout

block data

block variables
  - var title = "Компоненты"
  - var wrapperMod = ""
  - var hasHeader = true
  - var headerMod = ""
  - var hasFooter = true
  - var footerMod = ""
  - var currentPage = ""

block main
  style.
    main > .container {
      padding-top: 30px;
      padding-bottom: 30px;
    }

    .components-backwards {
      display: inline-block;
      margin-bottom: 10px;
      margin-left: 7px;
    }

    .components-backwards span:first-child {
      position: relative;
      top: -3px;

      display: inline-block;
      margin-right: 15px;

      font-size: 16px;
      line-height: 24px;
      vertical-align: top;

      transform: scale(2);
    }

    .components-backwards span:last-child {
      font-size: 16px;
      line-height: 24px;
    }

    .components-backwards + h1 {
      margin-bottom: 0;
    }

    .container > section {
      padding: 20px 0;
    }

    .container h2 {
      margin: 0;
      margin-bottom: 20px;
      font-weight: 400;
      font-size: 48px;
      line-height: 60px;
    }

    .container code {
      display: block;
      margin: 10px 0;
      padding: 10px;
      background-color: #BBE1B2;
    }

  main
    .container
      a.components-backwards(href="index.html")
        span &larr;
        span вернуться на разводящую
      h1 Компоненты, используемые в вёрстке

      section
        h2 Название компонента или группы компонентов

        p Класс компонента \ модификаторы
        p(style="color: red;") При необходимости, подсказки \ предупреждение \ важная информация
        div Компонент

      section
        h2 Button
        div
          +button({text: "Обновить", color: "orange", isLink: false, type: "button", isDisabled: false})
        code +button({text: "Обновить", color: "orange", isLink: false, type: "button", isDisabled: false})
        div
          +button({text: "Обновить", color: "orange", isLink: false, type: "button", isDisabled: true})
        code +button({text: "Обновить", color: "orange", isLink: false, type: "button", isDisabled: true})
        div
          +button({text: "Добавить", color: "blue", isLink: false, type: "button", isDisabled: false})
        code +button({text: "Добавить", color: "blue", isLink: false, type: "button", isDisabled: false})
        div
          +button({text: "Добавить", color: "blue", isLink: false, type: "button", isDisabled: true})
        code +button({text: "Добавить", color: "blue", isLink: false, type: "button", isDisabled: true})
        div
          +button({text: "Принять", color: "green", isLink: false, type: "button", isDisabled: false})
        code +button({text: "Принять", color: green, isLink: false, type: "button", isDisabled: false})
        div
          +button({text: "Принять", color: "green", isLink: false, type: "button", isDisabled: true})
        code +button({text: "Принять", color: green, isLink: false, type: "button", isDisabled: true})
        div
          +button({text: "Отменить", color: "red", isLink: false, type: "button", isDisabled: false})
        code +button({text: "Отменить", color: "red", isLink: false, type: "button", isDisabled: false})
        div
          +button({text: "Отменить", color: "red", isLink: false, type: "button", isDisabled: true})
        code +button({text: "Отменить", color: "red", isLink: false, type: "button", isDisabled: true})
        div
          +button({text: "Применить", color: "border", isLink: false, type: "button", isDisabled: false})
        code +button({text: "Применить", color: "border", isLink: false, type: "button", isDisabled: false})
        div
          +button({text: "Применить", color: "border", isLink: false, type: "button", isDisabled: true})
        code +button({text: "Применить", color: "border", isLink: false, type: "button", isDisabled: true})
        div
          +button({text: "Обновить", color: "orange", isLink: true, href: "#"})
        code +button({text: "Обновить", color: "orange", isLink: true, href: "#"})

      section
        h2 Bread crumbs
        div
          +breadcrumbs([{text: "Каталог", href: "#"}, {text: "МОи предложения", href: "#"},])
        code +breadcrumbs([{text: "Каталог", href: "#"}, {text: "МОи предложения", href: "#"},])

      section
        h2 Pagination
        div
          +pagination()
        code +pagination()

      section
        h2 Table
        div(style="display: grid; grid-template-columns: repeat(8, 1fr); justify-items: center;")
          +button-icon({color: 'blue', isLink: false, type: 'button', isDisabled: false, iconName: "icon-edit", iconWidth: 15, iconHeight: 15})
          +button-icon({color: 'blue', isLink: false, type: 'button', isDisabled: false, iconName: "icon-open", iconWidth: 15, iconHeight: 15})
          +button-icon({color: 'blue', isLink: false, type: 'button', isDisabled: false, iconName: "icon-copy", iconWidth: 15, iconHeight: 15})
          +button-icon({color: 'blue', isLink: false, type: 'button', isDisabled: false, iconName: "icon-sms", iconWidth: 15, iconHeight: 15})
        code +button-icon({color: 'blue', isLink: false, type: 'button', isDisabled: false, iconName: "icon-edit", iconWidth: 15, iconHeight: 15}) <br> +button-icon({color: 'blue', isLink: false, type: 'button', isDisabled: false, iconName: "icon-open", iconWidth: 15, iconHeight: 15}) <br> +button-icon({color: 'blue', isLink: false, type: 'button', isDisabled: false, iconName: "icon-copy", iconWidth: 15, iconHeight: 15}) <br> +button-icon({color: 'blue', isLink: false, type: 'button', isDisabled: false, iconName: "icon-sms", iconWidth: 15, iconHeight: 15})
        div(style="display: grid; grid-template-columns: repeat(8, 1fr); justify-items: center;")
          +button-icon({color: 'grey', isLink: false, type: 'button', isDisabled: false, iconName: "icon-expand", iconWidth: 15, iconHeight: 15})
          +button-icon({color: 'grey', isLink: false, type: 'button', isDisabled: false, iconName: "icon-filter", iconWidth: 15, iconHeight: 15})
          +button-icon({color: 'grey', isLink: false, type: 'button', isDisabled: false, iconName: "icon-chart", iconWidth: 15, iconHeight: 15})
          +button-icon({color: 'grey', isLink: false, type: 'button', isDisabled: false, iconName: "icon-doc", iconWidth: 15, iconHeight: 15})
          +button-icon({color: 'grey', isLink: false, type: 'button', isDisabled: false, iconName: "icon-folder", iconWidth: 15, iconHeight: 15})
          +button-icon({color: 'grey', isLink: false, type: 'button', isDisabled: false, iconName: "icon-user", iconWidth: 15, iconHeight: 15})
          +button-icon({color: 'grey', isLink: false, type: 'button', isDisabled: false, iconName: "icon-arrows", iconWidth: 15, iconHeight: 15})
        code +button-icon({color: 'grey', isLink: false, type: 'button', isDisabled: false, iconName: "icon-expand", iconWidth: 15, iconHeight: 15}) <br> +button-icon({color: 'grey', isLink: false, type: 'button', isDisabled: false, iconName: "icon-filter", iconWidth: 15, iconHeight: 15}) <br> +button-icon({color: 'grey', isLink: false, type: 'button', isDisabled: false, iconName: "icon-chart", iconWidth: 15, iconHeight: 15}) <br> +button-icon({color: 'grey', isLink: false, type: 'button', isDisabled: false, iconName: "icon-doc", iconWidth: 15, iconHeight: 15}) <br> +button-icon({color: 'grey', isLink: false, type: 'button', isDisabled: false, iconName: "icon-folder", iconWidth: 15, iconHeight: 15}) <br> +button-icon({color: 'grey', isLink: false, type: 'button', isDisabled: false, iconName: "icon-user", iconWidth: 15, iconHeight: 15}) <br> +button-icon({color: 'grey', isLink: false, type: 'button', isDisabled: false, iconName: "icon-arrows", iconWidth: 15, iconHeight: 15})
        div(style="display: grid; grid-template-columns: repeat(8, 1fr); justify-items: center;")
          +button-icon({color: 'red', isLink: false, type: 'button', isDisabled: false, iconName: "icon-delete", iconWidth: 15, iconHeight: 15})
          +button-icon({color: 'red', isLink: false, type: 'button', isDisabled: false, iconName: "icon-close", iconWidth: 15, iconHeight: 15})
        code +button-icon({color: 'red', isLink: false, type: 'button', isDisabled: false, iconName: "icon-delete", iconWidth: 15, iconHeight: 15}) <br> +button-icon({color: 'red', isLink: false, type: 'button', isDisabled: false, iconName: "icon-close", iconWidth: 15, iconHeight: 15})
        div(style="display: grid; grid-template-columns: repeat(8, 1fr); justify-items: center;")
          +toggle({label: "Опубликовано", name: "released", isLabelHidden: true, isChecked: true})
          +toggle({label: "Опубликовано", name: "released", isLabelHidden: true, isChecked: false})
        code +toggle({label: "Опубликовано", name: "released", isLabelHidden: true, isChecked: true}) <br> +toggle({label: "Опубликовано", name: "released", isLabelHidden: true, isChecked: false})

      section
        h2 Pin
        div(style="display: grid; grid-template-columns: repeat(8, 1fr); justify-items: center;")
          +pin({color: "grey", number: "5"})
          +pin({color: "blue", number: "7"})
          +pin({color: "green", number: "5"})
          +pin({color: "red", number: "2"})
        code +pin({color: "grey", number: "5"}) <br> +pin({color: "blue", number: "7"}) <br> +pin({color: "green", number: "5"}) <br> +pin({color: "red", number: "2"})

      section
        h2 Left Side
        div(style="display: grid; grid-template-columns: repeat(9, 1fr); justify-items: center; row-gap: 30px; padding: 20px; background-color: #3C4251;")
          +icon("icon-dashboard", 19, 19)
          +icon("icon-search", 19, 19)
          +icon("icon-shop", 19, 19)
          +icon("icon-trolley", 19, 19)
          +icon("icon-barcode", 19, 19)
          +icon("icon-car", 19, 19)
          +icon("icon-return-box", 19, 19)
          +icon("icon-sale", 19, 19)
          +icon("icon-paper", 19, 19)
          +icon("icon-cart", 19, 19)
          +icon("icon-buy", 19, 19)
          +icon("icon-operator", 19, 19)
          +icon("icon-like", 19, 19)
          +icon("icon-bar-chart", 19, 19)
          +icon("icon-globe", 19, 19)
          +icon("icon-member", 19, 19)
        code +icon("icon-dashboard", 19, 19) <br> +icon("icon-search", 19, 19) <br> +icon("icon-shop", 19, 19) <br> +icon("icon-trolley", 19, 19) <br> +icon("icon-barcode", 19, 19) <br> +icon("icon-car", 19, 19) <br> +icon("icon-return-box", 19, 19) <br> +icon("icon-sale", 19, 19) <br> +icon("icon-paper", 19, 19) <br> +icon("icon-cart", 19, 19) <br> +icon("icon-buy", 19, 19) <br> +icon("icon-operator", 19, 19) <br> +icon("icon-like", 19, 19) <br> +icon("icon-bar-chart", 19, 19) <br> +icon("icon-globe", 19, 19) <br> +icon("icon-member", 19, 19)
