extends ../base/layout

block variables
  - var title = "Оглавление"
  - var hasSidebar = false
  - var hasHeader = false

block main
  style.
    .container {
      padding-top: 50px;
      padding-bottom: 50px;
    }

    h1 {
      font-size: 24px;
      line-height: 28px;
    }

    a {
      color: #3c4251;
      transition: color 0.3s ease;
    }

    a:hover {
      color: #03a9f4;
    }

    li {
      font-size: 18px;
      line-height: 22px;
      margin-bottom: 7px;
    }

    img {
      width: 100%;
      max-width: 300px;
      height: auto;
      display: block;
      margin-bottom: 40px;
    }

    @media (max-width: 768px) {
      ol {
        padding-left: 20px;
      }

      ol li {
        margin-bottom: 15px;
      }

      .container {
        padding-top: 20px;
        padding-bottom: 20px;
      }
    }

  -
    var pages = [
      {
        name: "UI Kit — components.html",
        src: "components.html"
      },
      {
        name: "Главная — main.html",
        src: "main.html"
      },
      {
        name: "Пользователи — users.html",
        src: "users.html"
      },
    ]

  main.container.main-index
    span(style="display: flex; color: #3c4251;")
      +icon("logo", 76, 13)
    // img(src="https://via.placeholder.com/300x150" width="300" alt="Логотип проекта")
    h1 Список страниц и компонентов
    ol
      each page in pages
        li
          a(href= page.src)= page.name
