extends ../base/layout

block data
  include ../data/placeholder

block variables
  - var title = "AKTARUS — Пользователи"
  - var wrapperMod = ""
  - var hasSidebar = true
  - var hasHeader = true
  - var headerMod = ""
  - var currentPage = ""

block main
  main
    .container

