.pagination {
  display: flex;
}

.pagination__list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.pagination__item {
  display: flex;

  &:not(:first-child) {
    .pagination__link {
      border-left: transparent;
    }
  }
}

.pagination__link {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-width: 26px;
  min-height: 24px;
  padding: 2px;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: $color-deep-sky-blue;
  border: 1px solid $color-deep-sky-blue;
  background-color: $color-default-white;
  transition: color $transition, background-color $transition;
  outline: none;

  &.active {
    color: $color-default-white;
    background-color: $color-deep-sky-blue;
    pointer-events: none;
  }

  @media (hover: hover), screen and (min-width: 0\0) {
    &:hover,
    &:focus {
      color: $color-default-white;
      background-color: $color-deep-sky-blue;
    }
  }

  &:active {
    color: rgba($color-default-white, 0.5);
    background-color: rgba($color-deep-sky-blue, 0.5);
  }
}
