.sidebar {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  width: 240px;
  padding-bottom: 50px;
  background-color: $color-blue-zodiac;
}

.sidebar__logo {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 64px;
  padding: 20px;
  background: $color-east-bay;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.12);

  svg {
    color: $color-default-white;
  }
}

.sidebar__menu {
  display: flex;
  flex-direction: column;
}

.sidebar__menu-link {
  display: flex;
  align-items: center;
  padding: 25px;
  font-weight: 700;
  font-size: 13px;
  line-height: 15px;
  color: $color-default-white;
  border-bottom: 1px solid transparent;
  background-color: $color-blue-zodiac;
  transition: background-color $transition;

  @media (hover: hover), screen and (min-width: 0\0) {
    &:hover,
    &:focus {
      background-color: $color-east-bay;
    }
  }

  &:not(:last-of-type) {
    border-bottom: 1px solid rgba($color-default-white, 0.12);
  }

  svg {
    margin-right: 20px;
  }
}

// .sidebar__accordion-item {

// }
