mixin header(headerMod, currentPage)
  -
    var headerLinks = [
      {
        href: "#",
        text: "Страница 1"
      },
      {
        href: "#",
        text: "Страница 2"
      },
      {
        href: "#",
        text: "Страница 3"
      },
    ]

  header(class=(headerMod) ? "header header--" + headerMod : "header")
    .header__wrapper
      a.header__link(href="#")
        +icon("icon-back", 20, 10)
      .header__search-form
        form
          .header__search-input
            label
              input(type="text", name="header-search", placeholder="Введите номер или наименование запчасти")
              span.input-search__icon
                +icon("icon-search", 16, 16)
              span.visually-hidden Поиск
      .header__nav
        button.header__nav-btn(type="button")
          span.header__avatar
            +img("content", "user-pic", "jpg", 32, 32, "ООО «Автолидер»")
          span.header__user-name ООО «Автолидер»
          span.header__nav-icon
            +icon("arrow-bottom", 8, 4)
        ul.header__nav-list
          li.header__nav-item
            a.header__nav-link(href="#") Сменить пользователя
          li.header__nav-item
            a.header__nav-link(href="#") Выход
      a.header__link(href="#")
        +icon("icon-menu", 25, 24)

      //- if(currentPage === "main")
      //-   a.header__logo Логотип
      //- else
      //-   a.header__logo(href="main.html", aria-label="Переход на главную") Логотип
      //- nav.main-nav
      //-   button.main-nav__toggle.btn-reset(type="button", aria-label="Переключатель отображения меню", aria-pressed="false")
      //-     +icon("icon-burger", 20, 20)
      //-   .main-nav__wrapper
      //-     ul.main-nav__list
      //-       each link, index in headerLinks
      //-         if(index === currentPage)
      //-           li
      //-             a.main-nav__link.main-nav__link--active=link.text
      //-         else
      //-           li
      //-             a.main-nav__link(href=link.href)=link.text
