mixin button(props = {})
  if (props.isLink)
    a.button(class!= props.color ? `button--${props.color}` : 'button--blue', href!= props.href ? props.href : '#')&attributes(attributes)=props.text
  else
    button.button(class!= props.color ? `button--${props.color}` : 'button--blue', type!= props.type ? props.type : 'button', disabled= props.isDisabled ? true : null)&attributes(attributes)=props.text


//- argTypes
  props: {
    text: string,
    color: oneOf['orange', blue', 'green', 'red', 'border'],
    isLink: bool,
    href: string,
    type: oneOf['button', 'submit', 'reset']
    isDisabled: bool,
  }
